Suponha o desenvolvimento de um sistema para uma escola. Este sistema deverá:


-Manter alunos (nome e cpf)

-Manter professores (nome e cpf)

-Manter as disciplinas ofertadas (nome e carga horária)

-Manter cada turma(título, disciplinas da turma, professor que lecionará cada disciplina, ano e horário das disicplinas)

-Manter o histórico escolar de cada aluno que correponde a nota dele em cada disciplina




**Você será o responsável por desenvolver o banco de dados deste sistema**

1) Crie as tabelas:

In [ ]:
import sqlite3
conn = sqlite3.connect('exercicio.db')


#Criando a tabela de alunos
conn.execute('''CREATE TABLE Alunos (
   cod_aluno INTEGER PRIMARY KEY NOT NULL,
   Nome VARCHAR NOT NULL ,
   Cpf Interger NOT NULL );''')
 
conn.commit()


#Criando a tabela de professores
conn.execute('''CREATE TABLE Professores (
   cod_professor INTEGER PRIMARY KEY NOT NULL,
   Nome VARCHAR NOT NULL ,
   Cpf Interger NOT NULL );''')
 
conn.commit()


#Criando a tabela de disciplinas
conn.execute('''CREATE TABLE Disciplinas (
   cod_disciplinas INTEGER PRIMARY KEY NOT NULL,
   nome VARCHAR NOT NULL, 
   cargaHoraria TEXT NOT NULL);''')
 
conn.commit()


#Criando a tabela de turmas
conn.execute('''CREATE TABLE Turmas (
   cod_turma INTEGER PRIMARY KEY NOT NULL,
   titulo VARCHAR NOT NULL,
   ano INTEGER NOT NULL);''')
 
conn.commit()


#Criando a tabela de disciplinas de cada Turma
conn.execute('''CREATE TABLE Disc_Turma (
   cod_Disciplinas_Turmas INTEGER PRIMARY KEY NOT NULL,
   cod_disciplina INTEGER NOT NULL,
   cod_professor INTEGER NOT NULL,
   cod_turma INTEGER NOT NULL,
   horario VARCHAR NOT NULL);''')


#Criando a tabela de disciplinas de cada Histórico
conn.execute('''CREATE TABLE historico (
   cod_historico INTEGER PRIMARY KEY NOT NULL,
   cod_aluno INTEGER NOT NULL);''')
 
conn.commit()


#Criando a tabela de disciplinas de cada disciplina e nota do Histórico
conn.execute('''CREATE TABLE Hist_Disci (
   cod_Hist_Disci INTEGER PRIMARY KEY NOT NULL,
   cod_disciplina INTEGER NOT NULL,
   nota REAL NOT NULL,
   cod_historico INTEGER NOT NULL);''')
 
conn.commit()

2) Cadastre alunos na tabela de alunos

In [ ]:
conn.execute("INSERT INTO Alunos (Nome, Cpf) VALUES ('João Pedro Pereira', 112778908965);")
conn.execute("INSERT INTO Alunos (Nome, Cpf) VALUES ('Maria Luiza Costa', 122000908778);")

3)Veja os alunos cadastrados na tabela

In [ ]:
comando=conn.execute("SELECT * FROM Alunos ;")

comando.fetchall()

[(1, 'João Pedro Pereira', 112778908965),
 (2, 'Maria Luiza Costa', 122000908778)]

4) Cadastre professores

In [ ]:
conn.execute("INSERT INTO Professores (Nome, Cpf) VALUES ('José da Silva', 1028890908900);")
conn.execute("INSERT INTO Professores (Nome, Cpf) VALUES ('Lúcia Cristina Viana', 115000908666);")
conn.execute("INSERT INTO Professores (Nome, Cpf) VALUES ('Maria Passos Araújo', 103010608686);")

5)Veja os professores cadastrados na tabela

In [ ]:
comando=conn.execute("SELECT * FROM professores ;")

comando.fetchall()

[(1, 'José da Silva', 1028890908900),
 (2, 'Lúcia Cristina Viana', 115000908666),
 (3, 'Maria Passos Araújo', 103010608686)]

6) Cadastre disciplinas

In [ ]:
conn.execute("INSERT INTO disciplinas (nome, cargaHoraria) VALUES ('Matemática', '30:00');")
conn.execute("INSERT INTO disciplinas (nome, cargaHoraria) VALUES ('Portugês', '20:00');")

7)Veja as disciplinas cadastrados na tabela

In [ ]:
comando=conn.execute("SELECT * FROM disciplinas ;")

comando.fetchall()

[(1, 'Matemática', '30:00'), (2, 'Portugês', '20:00')]

8) Cadastre turmas

In [ ]:
conn.execute("INSERT INTO turmas (titulo, ano) VALUES ('primeiro ano A', 2022);")
conn.execute("INSERT INTO turmas (titulo, ano) VALUES ('primeiro ano B', 2019);")
conn.execute("INSERT INTO turmas (titulo, ano) VALUES ('segundo ano A', 2023);")

9)Veja as turmas cadastradas

In [ ]:
comando=conn.execute("SELECT * FROM turmas ;")

comando.fetchall()

[(1, 'primeiro ano A', 2022),
 (2, 'primeiro ano B', 2019),
 (3, 'segundo ano A', 2023)]

10)Defina as disciplinas de cada turms, os horários que ocorrerão e os professores de cada disciplina

In [ ]:

conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario, cod_professor) VALUES (1, 1, 'segunda e quarta de 10:00 às 10:50', 1);")
conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario, cod_professor) VALUES (1, 2, 'segunda e quarta de 08:00 às 08:50', 2);")

conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario, cod_professor) VALUES (2, 1, 'terça e quinta de 10:00 às 10:50',1);")
conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario, cod_professor) VALUES (2, 2, 'terça e quinta de 08:00 às 08:50',2);")

conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario,cod_professor) VALUES (3, 1, 'terça  de 08:00 às 09:40',1);")
conn.execute("INSERT INTO Disc_Turma (cod_turma, cod_disciplina, horario,cod_professor) VALUES (3, 2, 'terça  de 08:00 às 09:40',3);")

11)Veja o título das disciplinas, nome dos professores e horários de cada turma

In [ ]:
comando=conn.execute("SELECT * FROM Disc_Turma ;")

comando.fetchall()

[(1, 1, 1, 0, 'segunda e quarta de 10:00 às 10:50'),
 (2, 2, 2, 0, 'segunda e quarta de 08:00 às 08:50'),
 (3, 1, 1, 1, 'terça e quinta de 10:00 às 10:50'),
 (4, 2, 2, 1, 'terça e quinta de 08:00 às 08:50'),
 (5, 1, 1, 2, 'terça  de 08:00 às 09:40'),
 (6, 2, 3, 2, 'terça  de 08:00 às 09:40')]

Observe que selecionando os dados da tabela Disc_Turma nós não conseguimos ter acessor aos nomes dos professores, disciplina e turmas, nós temos acesso apenas aos códigos. Para resolver isso devemos utilizar o join para unir com as tabelas de disciplinas, tumas e professores que nos forneceram os dados que queremos.

In [ ]:
comando=conn.execute("SELECT turmas.titulo, Professores.nome, Disciplinas.nome, horario  FROM Disc_Turma JOIN turmas ON Disc_Turma.cod_turma = turmas.cod_turma  JOIN Professores ON Disc_Turma.cod_professor=Professores.cod_professor JOIN disciplinas ON Disc_Turma.cod_disciplina=disciplinas.cod_disciplinas ;")

comando.fetchall()

[('primeiro ano A',
  'José da Silva',
  'Matemática',
  'terça e quinta de 10:00 às 10:50'),
 ('primeiro ano A',
  'Lúcia Cristina Viana',
  'Portugês',
  'terça e quinta de 08:00 às 08:50'),
 ('primeiro ano B', 'José da Silva', 'Matemática', 'terça  de 08:00 às 09:40'),
 ('primeiro ano B',
  'Maria Passos Araújo',
  'Portugês',
  'terça  de 08:00 às 09:40')]

12)Cadastre os históricos dos alunos

In [ ]:
conn.execute("INSERT INTO historico (cod_aluno) VALUES (1);")
conn.execute("INSERT INTO historico (cod_aluno) VALUES (2);")

13) Veja os históricos cadastrados

In [ ]:
comando=conn.execute("SELECT * FROM historico ;")
comando.fetchall()

[(1, 1), (2, 2)]

14)Vamos cadastrar as notas dos alunos nos respectivos históricos

In [ ]:


conn.execute("INSERT INTO Hist_Disci (cod_disciplina, nota, cod_historico) VALUES (1, 98.7, 1);")
conn.execute("INSERT INTO Hist_Disci (cod_disciplina, nota, cod_historico) VALUES (2, 88.5, 1);")

conn.execute("INSERT INTO Hist_Disci (cod_disciplina, nota, cod_historico) VALUES (1, 78.0, 2);")
conn.execute("INSERT INTO Hist_Disci (cod_disciplina, nota, cod_historico) VALUES (2, 89.1, 2);")

15) Vamos ver os cadastro realizados na tabela de Hist_Disci

In [ ]:
comando=conn.execute("SELECT * FROM Hist_Disci ;")
comando.fetchall()

[(1, 1, 98.7, 1), (2, 2, 88.5, 1), (3, 1, 78.0, 2), (4, 2, 89.1, 2)]

16)Agora vamos ver o histórico do aluno 1

In [ ]:
comando=conn.execute("SELECT * FROM historico JOIN Hist_Disci ON historico.cod_historico = Hist_Disci.cod_historico  WHERE historico.cod_aluno==1 ;")
comando.fetchall()

[(1, 1, 1, 1, 98.7, 1), (1, 1, 2, 2, 88.5, 1)]

17)Vamo utilizar o comando JOIN para que possamos visualizar melhor o resultado anterior, de modo a aparecer o nome dos alunos e o nome das disciplinas

In [ ]:
comando=conn.execute("SELECT alunos.nome, disciplinas.nome, Hist_Disci.nota  FROM Hist_Disci JOIN historico ON Hist_Disci.cod_historico = historico.cod_historico JOIN alunos ON alunos.cod_aluno=historico.cod_aluno JOIN disciplinas ON Hist_Disci.cod_disciplina=disciplinas.cod_disciplinas WHERE historico.cod_aluno==1 ;")

comando.fetchall()

[('João Pedro Pereira', 'Matemática', 98.7),
 ('João Pedro Pereira', 'Portugês', 88.5)]